.reviewUserForm{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
@media screen and (max-width:768px) {
    .reviewUserForm{
        display: block;
        padding-bottom: 10%;
    }
}
.reviewed-shop{
    width: 45%;
    height: 30em;
}
@media screen and (max-width: 768px) {
    .reviewed-shop{
        width: 80%;
        margin-bottom: 200px;
    }
}
.how-shop{
    width: 80%;
    text-align: center;
    margin-bottom: 10%;
}
@media screen and (max-width: 768px) {
    .how-shop{
        width: 100%;
        margin-left: 15%;
    }
}
.main{
    width: 55%;
    border-left: 1px solid black;
    border-radius: 0.3rem;
    text-align: center;
    padding: 2rem;
    max-width: 100%;
}
@media screen and (max-width: 768px) {
    .main {
        width: 80%;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        border-left: none;
        border-top: 1px solid black;
    }
}
.review-star{
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: 6%;
}

.star{
    width: 40%;
    height: 30px;
    font-size: 40px;
    cursor: pointer;
    color: #ccc;
}
.star.selected,
.star:hover {
    color: blue;
}
.review-comment-field{
    width: 80%;
    height: 200px;
    font-size: large;
    background-color:  gainsboro;
}
.review-create-button{
    width: 100%;
    margin-top: 2%;
    text-align: center;
}
.submit{
    background-color: white;
    color: black;
    font-size: large;
    width: 40%;
    border-radius: 0.6em;
}
@media screen and (max-width:768px) {
    .submit{
        width: 60%;
    }
}
.image-preview {
    width: 80%; /* 固定の幅 */
    height: 200px; /* 固定の高さ */
    border: 1px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
    overflow: hidden;
    background-color: #f8f8f8;
    cursor: pointer;
    position: relative;
    margin-left: 10%;
}
.image-preview img {
    max-width: 100%; /* 親要素に収める */
    max-height: 100%; /* 親要素に収める */
    object-fit: cover; /* アスペクト比を保ちつつサイズを固定 */
}

.placeholder-text {
    color: #aaa;
    font-size: 14px;
    pointer-events: none; /* クリックを無効化 */
    position: absolute;
}

.input-image{
    width: 80%;
}
.shop{
    margin: 1rem 7rem;
    width: 50%;
    height: 21em;
    border-radius: 0.3rem;    /*枠線（丸みのある枠線）*/
    background-color: white;
}
@media screen and (max-width:768px) {
    .shop{
        width: 100%;
        margin: 1rem 4rem;
        height: 100%;
    }
}
.shop-photo{
    width: 100%;
    height: 40%;
}
@media screen and (max-width:768px) {
    .shop-photo{
        height: 60%
    }
}
.shop-img{
    width: 100%;
    height: 100%;
    border-radius: 0.3rem 0.3rem 0 0;
}
.in-detail{

}